.content-card {
    transition: all 0.5s ease;
    margin-top: 8em;
    .like-button {
        transition: all 0.5s ease;
        &:hover {
            cursor: pointer;
        }
    }
    .like-text {
        &:hover {
            cursor: pointer;
            // text-decoration: underline;
        }
    }
    .comment-button {
        &:hover {
            cursor: pointer;
        }
    }
    .comment-text {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}